<form [formGroup]="formGroup" fxLayoutAlign="space-around center" fxLayoutGap="5px">
  <mat-form-field fxFlex="40%">
    <input type="text" placeholder="Skill" matInput [formControl]="formGroup.get('skill')" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let skill of filteredSkills$ | async" [value]="skill">{{ displayFn(skill) }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field fxFlex="30%">
    <mat-label>Proficiency</mat-label>
    <mat-select [formControl]="formGroup.get('proficiency')">
      <mat-option *ngFor="let proficiency of proficiencies" [value]="proficiency">{{ proficiency | titlecase }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div fxFlex="20%">
    <mat-checkbox [formControl]="formGroup.get('primary')">Primary Skill</mat-checkbox>
  </div>
  <div fxFlex="10%">
    <button mat-raised-button color="warn">Delete</button>
  </div>
</form>
