<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="isLoggedIn(); else notLoggedIn">
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item routerLink="/employee/self">Manage My Skills</a>
        <a mat-list-item routerLink="/employee/list">Employee List</a>
        <ng-container *ngIf="currentUserIsAdmin()">
          <mat-divider></mat-divider>
          <h3 mat-subheader>Admin Actions</h3>
          <a mat-list-item routerLink="/employee/add">Add Employee</a>
          <a mat-list-item routerLink="/admin/skills">Manage Skills</a>
          <a mat-list-item routerLink="/admin/categories">Manage Categories</a>
        </ng-container>
        <ng-container>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="logout()">Logout</a>
        </ng-container>
      </ng-container>
      <ng-template #notLoggedIn>
        <a mat-list-item routerLink="/login">Log In</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Employee Listing</span>
      <span class="spacer"></span>
      <span>Welcome!</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>