<form [formGroup]="formGroup" fxLayout="column" class="form-content">
  <div fxLayoutAlign="space-around center" fxLayoutGap="5px">
    <mat-form-field fxFlex="66%">
      <mat-label>Skill Name</mat-label>
      <input type="text" placeholder="Skill Name" matInput
        [formControl]="formGroup.get('name')">
      <mat-error *ngIf="formGroup.get('name').hasError('required')">
        {{ 'Skill Name' | requiredMessage }}</mat-error>
      <mat-error *ngIf="formGroup.get('name').hasError('minlength')">Skill Name must be at
        least 3 characters</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="33%">
      <mat-label>Category</mat-label>
      <mat-select [formControl]="formGroup.get('category')">
        <mat-option *ngFor="let category of categories$ | async" [value]="category">
          {{ category.name | titlecase }}</mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.get('category').hasError('required')">
        {{ 'Category' | requiredMessage }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid"
      (click)="onSubmit()">
      {{ skill ? 'Update' : 'Add' }} Skill
    </button>
  </div>
</form>
