.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

table {
  width: 100%;
}

.header {
  padding: 5px;
}

.primary-skill {
  border: solid black 2px;
}

.mat-column-edit {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
