$uswds-primary: (
    50 : #e0effa,
    100 : #b3d6f3,
    200 : #80bbeb,
    300 : #4d9fe2,
    400 : #268bdc,
    500 : #0076d6,
    600 : #006ed1,
    700 : #0063cc,
    800 : #0059c6,
    900 : #0046bc,
    A100 : #e5edff,
    A200 : #b2c9ff,
    A400 : #7fa5ff,
    A700 : #6594ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$uswds-red: (
    50 : #fce4e1,
    100 : #f7bdb5,
    200 : #f29183,
    300 : #ed6451,
    400 : #e9432c,
    500 : #e52207,
    600 : #e21e06,
    700 : #de1905,
    800 : #da1404,
    900 : #d30c02,
    A100 : #fffbfb,
    A200 : #ffc9c8,
    A400 : #ff9795,
    A700 : #ff7e7b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$uswds-accent-cool: (
    50 : #e0f7fc,
    100 : #b3ebf7,
    200 : #80def1,
    300 : #4dd1eb,
    400 : #26c7e7,
    500 : #00bde3,
    600 : #00b7e0,
    700 : #00aedc,
    800 : #00a6d8,
    900 : #0098d0,
    A100 : #f8fdff,
    A200 : #c5edff,
    A400 : #92deff,
    A700 : #79d6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$uswds-accent-warm: (
    50 : #fceee2,
    100 : #f8d4b7,
    200 : #f3b787,
    300 : #ee9a56,
    400 : #ea8532,
    500 : #e66f0e,
    600 : #e3670c,
    700 : #df5c0a,
    800 : #db5208,
    900 : #d54004,
    A100 : #fffdfc,
    A200 : #ffd6c9,
    A400 : #ffaf96,
    A700 : #ff9b7d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



