@import "~@angular/material/theming";
@import "./assets/theme-colors.scss";

@include mat-core();

$primary: mat-palette($uswds-primary);
$accent: mat-palette($uswds-accent-warm);

$warn: mat-palette($uswds-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
