<h3>Current Employees:</h3>
<ul style="list-style-type:none;">
  <li *ngFor="let employee of employees">
    {{employee.bio.firstName}} {{employee.bio.lastName}}
    <ol>
      <li *ngFor="let skill of employee.skills">
        Skill: {{skill.skill.name}} Category: {{skill.skill.category.name}} Proficiency:
        {{skill.proficiency}}
      </li>
    </ol>
  </li>
</ul>

<h3>Data table for Employees</h3>

<div class="example-header">
  <mat-form-field>
    <input matInput type="text" (keyup)="filterEmployee($event.target.value)"
      placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name
      </th>
      <td mat-cell *matCellDef="let employee">{{employee.bio.firstName}}
        {{employee.bio.lastName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth
      </th>
      <td mat-cell *matCellDef="let employee">
        {{employee.bio.birthDate | date: 'shortDate'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let employee">{{employee.contact.email}}</td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
      <td mat-cell *matCellDef="let employee">{{employee.contact.phoneNumber}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let employee; columns: tableColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<button (click)="testRequest()">test</button>