<div *ngIf="employee$ | async as employee" fxLayout="column" fxLayoutGap="20px">
  <div fxLayoutGap="20px" fxLayout="space-between stretch" fxFlexOffset="20px">
    <tcp-chart fxFlex="49%" [data]="skillsByProficiency$ | async"
      chartLabel="Skill Count by Proficiency"></tcp-chart>
    <tcp-chart fxFlex="49%" [data]="skillsByCategory$ | async"
      chartLabel="Skill Count by Category"></tcp-chart>
  </div>
  <mat-card>
    <mat-card-title>Your Skills</mat-card-title>
    <div fxLayout="row">
      <div fxFlex="40%"><strong>Skill</strong></div>
      <div fxFlex="30%"><strong>Category</strong></div>
      <div fxFlex="30%"><strong>Proficiency</strong></div>
    </div>
    <div fxLayout="row" *ngFor="let skill of employee.skills">
      <div fxFlex="40%">{{skill.skill.name}}</div>
      <div fxFlex="30%">{{skill.skill.category.name}}</div>
      <div fxFlex="30%">{{skill.proficiency}}</div>
    </div>
  </mat-card>
</div>
